apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: waoowaoo-worker-image
  namespace: waoowaoo-prod
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: waoowaoo-worker-image
  minReplicas: 2
  maxReplicas: 12
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 70
